@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --text: #4f4a45;
    --background: #faf1e5;
    --primary: #ed7c31;
    --secondary: #6c5d5a;
    --accent: #de2e02;
  }
  .dark {
    --text: #bab5b0;
    --background: #1a1105;
    --primary: #ce5d12;
    --secondary: #a59693;
    --accent: #fd4d21;
  }
}
